@model PatrocinioZoneProyectoV1.Models.ZonaPatrocinio

@{
    ViewData["Title"] = "Eliminar";
}

<h1 class="display-5">Eliminar</h1>

<h3>Está seguro de eliminar el registro?</h3>
<div>
    <h4>ZonaPatrocinio</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tamanio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tamanio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoReservado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoReservado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ubicacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ubicacion)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver</a>
    </form>
</div>
