@model IEnumerable<PatrocinioZoneProyectoV1.Models.Oferta>

@{
    ViewData["Title"] = "Lista de Ofertas";
}

<h1 class="display-5">Lista de Ofertas</h1>

<p>
    <a asp-action="Create">Crear Nueva Oferta</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PatrocinadorID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Costo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClubID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZonaDePatrocinioID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Patrocinador.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Costo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Club.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZonaDePatrocinio.Id)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.OfertaId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.OfertaId">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.OfertaId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
