@model IEnumerable<PatrocinioZoneProyectoV1.Models.Oferta>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Ofertas</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PatrocinadorID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Costo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClubID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZonaDePatrocinioID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PatrocinadorID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Costo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClubID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZonaDePatrocinioID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OfertaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OfertaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OfertaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
